@font-face {
    font-family: "Montserrat";
    src: url(Montserrat-VariableFont_wght.ttf) format(truetype);
    
}

@font-face {
    font-family: "Poppins";
    src: url(Poppins-VariableFont_wght.otf) format(truetype);
    
}



